{% extends 'base.html.twig' %}

{% block title %}Detaljer för bok{% endblock %}

{% block main %}
<div class="example-wrapper">
    <h1>{{ book.title }}</h1>

    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Författare:</strong> {{ book.author }}</p>
    <p><img src="{{ asset(book.image) }}" alt="Bokomslag" width="120"></p>

    <p>
        <a href="{{ path('library_update', {id: book.id}) }}">Uppdatera</a> |
        <a href="{{ path('library_delete', {id: book.id}) }}">Radera</a> |
        <a href="{{ path('library_index') }}">Tillbaka</a>
    </p>
</div>
{% endblock %}